:host {
  display: block;
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 70px; // Height of the header
  min-height: calc(100vh - 70px - 200px); // Viewport height minus header and footer
} 